<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat Da Burger</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
    	<img src="http://pngimg.com/uploads/burger_sandwich/burger_sandwich_PNG4136.png" height="100" width="100" class="burger_class">
      </div>
    </div> 
    <div class="row">
      <div class="large-12 columns">
        <h1>Eat Da Burger</h1>
      </div>
    </div>
  </body>
</html>


